<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flugsuche{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <a href="{{ url_for('warum') }}">Warum?</a>
        <a href="{{ url_for('impressum') }}">Impressum</a>
        <!-- Hier könnten weitere Links wie z.B. Datenschutz stehen -->
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>